[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wxpython = "*"
robotframework-ride = "==1.7.4.2"
requests = "*"
robotframework-requests = "*"
robotframework-httplibrary = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.7.6"
